[*.cs]

# SA1633: File should have header
dotnet_diagnostic.SA1633.severity = error

# IDE0055: Fix formatting
dotnet_diagnostic.IDE0055.severity = error

# SA1505: Opening braces should not be followed by blank line
dotnet_diagnostic.SA1505.severity = error

# SA1000: Keywords should be spaced correctly
dotnet_diagnostic.SA1000.severity = error

# SA1003: Symbols should be spaced correctly
dotnet_diagnostic.SA1003.severity = error

# SA1008: Opening parenthesis should be spaced correctly
dotnet_diagnostic.SA1008.severity = error

# SA1200: Using directives should be placed correctly
dotnet_diagnostic.SA1200.severity = error

# SA1401: Fields should be private
dotnet_diagnostic.SA1401.severity = error

# SA1413: Use trailing comma in multi-line initializers
dotnet_diagnostic.SA1413.severity = error

# SA1313: Parameter names should begin with lower-case letter
dotnet_diagnostic.SA1313.severity = error

# SA1208: System using directives should be placed before other using directives
dotnet_diagnostic.SA1208.severity = error

# IDE0005: Using directive is unnecessary.
dotnet_diagnostic.IDE0005.severity = error

# SA1300: Element should begin with upper-case letter
dotnet_diagnostic.SA1300.severity = error

# SA1400: Access modifier should be declared
dotnet_diagnostic.SA1400.severity = error

# SA1507: Code should not contain multiple blank lines in a row
dotnet_diagnostic.SA1507.severity = error

# SA1516: Elements should be separated by blank line
dotnet_diagnostic.SA1516.severity = error

# SA1513: Closing brace should be followed by blank line
dotnet_diagnostic.SA1513.severity = error

# SA1638: File header file name documentation should match file name
dotnet_diagnostic.SA1638.severity = error

# SA1201: Elements should appear in the correct order
dotnet_diagnostic.SA1201.severity = error

# SA1119: Statement should not use unnecessary parenthesis
dotnet_diagnostic.SA1119.severity = error

# IDE0051: Remove unused private members
dotnet_diagnostic.IDE0051.severity = error

# SA1122: Use string.Empty for empty strings
dotnet_diagnostic.SA1122.severity = error
